<!DOCTYPE html>
<html>
  <head>
    <title>Krypton Maze Challenge</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <h1> Welcome to Krypton's Maze Challenge </h1>
    <button id="getMaze">GET MAZE</button>
    <div id="currentMaze">

    </div>
    <button id="solveMaze">SOLVE MAZE!</button>
    <button id="submitSolution">SUBMIT SOLUTION!</button>
    <script src="app.js"></script>
  </body>
</html>
